# Configuration file

##########################################################################################################
#  info
#--------------------------------------------------------------------------------------------------------#
# Copy the desired tools you want to change from the defaults file into this file and adapt the stats.
# 
# Mining Levels:
# 	0 - §7Pedra
# 	1 - §6Cobre
# 	2 - §8Ferro
# 	3 - §fEstanho
# 	4 - §cRedstone
# 	5 - §dObsidiana
# 	6 - §4Ardita
# 	7 - §3Cobalto
# 	8 - §5Manyullyn
# 	9 - §5Manyullyn§d+
# 	10 - 10
# 	11 - 11
# 	12 - 12
# 
##########################################################################################################

" info" {
    # Fills this file with the default values, not altering changed values.
    B:fillWithDefault=false

    # Removes all entries that correspond to the default values.
    B:removeDefaultValues=false
}


minecraft {

    iron_pickaxe {
        I:pickaxe=4
    }

    stone_pickaxe {
        I:pickaxe=2
    }

}


